<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798620629711-e64on0o9cm6349gqm636vdgf4536q14i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798620629711-e64on0o9cm6349gqm636vdgf4536q14i</string>
	<key>API_KEY</key>
	<string>AIzaSyDP8AK_hTfptzDPKCuppf_vc8019RdI-NU</string>
	<key>GCM_SENDER_ID</key>
	<string>798620629711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafe5MobileClient</string>
	<key>PROJECT_ID</key>
	<string>magnit-e84fe</string>
	<key>STORAGE_BUCKET</key>
	<string>magnit-e84fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798620629711:ios:f6701a6f2f95b36e5d15ba</string>
</dict>
</plist>