<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99359749947-0q7vddmm890oaapv58shbhavqbhg577i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99359749947-0q7vddmm890oaapv58shbhavqbhg577i</string>
	<key>API_KEY</key>
	<string>AIzaSyCO8BRymMN64ede2J6030qGNbmXe97GPHk</string>
	<key>GCM_SENDER_ID</key>
	<string>99359749947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafe5MobileClient</string>
	<key>PROJECT_ID</key>
	<string>c5waitermobileclient</string>
	<key>STORAGE_BUCKET</key>
	<string>c5waitermobileclient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99359749947:ios:09494a607b2d6c4dca691e</string>
</dict>
</plist>